{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Modifié Sondage
    {% else %}
        Créer Sondage
    {% endif %}
{% endblock %}


{% block body %}

{{ include('menu.html.twig') }}

    <main>  

        {{ form_start(form) }}       
            {{ form_row(form.question) }}
            {{ form_row(form.endDate) }}
            {{ form_row(form.isMultipleChoice) }}
            {{ form_row(form.answer0) }}
            {{ form_row(form.answer1) }}
            {% if editMode %}
                <button type="submit" class="btn" title="Publier ce sondage">Modifier ce sondage</button>
            {% else %}
                <button type="submit" class="btn" title="Publier ce sondage">Publier ce sondage</button>
            {% endif %}
            
        {{ form_end(form) }}

    </main>

{{ include('footer.html.twig') }}

{% endblock %}