{% extends 'base.html.twig' %}

{% block title %}Répondre au sondage{% endblock %}


{% block body %}

{{ include('menu.html.twig') }}

    <main>

        <h1>Résultat pour le sondage suivant : {{ question.question }}</h1>


        <div class="resultat">
            {% for key, nbResult in resultats %}
                <p>{{ key }} : {{ nbResult }} </p>
            {% endfor %}
        </div>
    </main>

{{ include('footer.html.twig') }}

{% endblock %}