{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 1 {% endblock %}

{% block body %}

{{ include('menu.html.twig') }}

    <main>
        <h1>Mot de passe oublié - Etape 1</h1>

        {{ form_start(forgotPasswordFormStep1) }}

        <div>
            {{ form_row(forgotPasswordFormStep1.email) }}
        </div>

        <button type="submit" class="btn" title="Saisissez votre adresse e-mail pour recevoir un lien de récupération">Envoyez-moi un lien de récupération</button>

        {{ form_end(forgotPasswordFormStep1)}}
    </main>

{{ include('footer.html.twig') }}

{% endblock %}