{% extends 'base.html.twig' %}

{% block body %}

{{ include('menu.html.twig') }}

    <main>
        <h1>Mot de passe oublié - Etape 2</h1>

        {{ form_start(forgotPasswordFormStep2) }}

        <div>
            <div>
                {{ form_row(forgotPasswordFormStep2.password.first) }}
            </div>
            <div>
                {{ form_row(forgotPasswordFormStep2.password.second) }}
            </div>

            <div>
                <button tyê="submit" class="btn" title="Saisisez deux fois votre nouveau mot de passe pour le modifier">Modifier mon mot de passe</button>
                <br>
                <small>Ce lien sera invalide à {{ passwordMustBeModifiedBefore }}</small>
            </div>

        {{ form_end(forgotPasswordFormStep2) }}

    </main>

{{ include('footer.html.twig') }}

{% endblock %}