<header>
    <div id="logo">
        <img src="{{ asset('/asset/images/logo.jpg') }}" alt="logo"/>
    </div>
    <div id="titre">
        POLL
    </div>
    {% if not app.user %}
        <div class="connexion">
            <a href="{{ path('security_login') }}"><h3>connexion</h3></a>
        </div>
    {% else %}
        <div class="connexion">
            <a onclick="document.getElementById('compte').submit()"><h3>{{ app.user.summoner }}</h3></a>
            <form id="compte" method="post" action="{{ path('invocateurBySearch') }}">
                <input type="hidden" value="{{ app.user.summoner }}" name="name">
            </form>
            <a href="{{ path('security_logout') }}"><h3>déconnexion</h3></a>
        </div>
    {% endif %}
</header>
<div id="menu">

</div>

