<nav>
    <div class="logo">
        <a href=" {{ path('app_home') }}"><img class="logo" src=" {{ asset('img/LogoSVG.svg') }}"/></a>
    </div>
    <ul class="nav">
        <li>
            <a href="{{ path('app_home') }}">Home</a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('app_create_sondage') }}">Créer un sondage</a>
            </li>
        {% endif %}
        {% if app.user %}
            <li>
                <a href="{{ path('app_user_area') }}">Mon espace perso</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('app_user_admin') }}">Administration</a>
            </li>
        {% endif %}
        <li>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %} 
        </li>
        {% if not app.user %}
            <li>
                <a href="{{ path('app_register') }}">S'inscrire</a>
            </li>
        {% endif %}
    </ul>
</nav>